flask
langchain
langchain_community
langchain-groq
sentence-transformers
chromadb
beautifulsoup4
openai
pandas
seaborn
scikit-learn
transformers
langchain-huggingface
datasets
wikipedia
langchain_anthropic
langchain_huggingface
youtube-transcript-api
time
faiss-cpu